@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
    --gray1: #0f0f0f;
    --gray2: #1b1b1b;
    --gray3: #272727;
    --gray4: #303030;
    --gray5: #a0a0a0;
    --yellow-accent: #ffc400;
    --yellow-highlight: #ffd23b;
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: grid;
    grid-template-rows: 60px auto;
    grid-template-columns: 60px auto;
    grid-template-areas: 
        "navbar navbar"
        "sidebar main";
    height: 100%;
    background-color: var(--gray1);
    color: white;
}

/* Nav Bar */
.nav-bar {
    grid-area: navbar;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

/* Nav Buttons */
.nav-buttons-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray1);
    color: white;
    cursor: pointer;
    border-radius: 40px;
    border: none;
    font-size: 2rem;
    padding: 5px;
    transition: 0.3s;
}

.menu-button:hover {
    background-color: var(--gray2);
}

.logo {
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 0px 10px 0px 10px;
}

/* Search Bar */
.search-bar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px 0px 10px;
}

.search-bar {
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
}

.search-box {
    height: 100%;
    width: 100%;
    background-color: var(--gray1);
    color: white;
    border: 1px solid var(--gray4);
    border-radius: 4px 0px 0px 4px;
    padding: 0px 16px 0px 16px ;
    margin: 0px 0px 0px 4px;
}

.search-box:focus {
    outline: none;
    border: 1px solid #1c62b9;
}

.search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50px;
    background-color: var(--gray2);
    color: white;
    border: 1px solid var(--gray4);
    border-radius: 0px 4px 4px 0px;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Login Options */
.login-options {
    padding: 10px;
}

.login-options-button {
    color: white;
    text-decoration: none;
    padding: 5px;
    transition: 0.1s;
}

.login-options-button:hover {
    color: var(--gray5);
}

/* Side Menu */
.nav-side {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* Post Button */
.post-button-wrapper {
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #303030;
}

.post-button {
    display: flex;
    align-items: center;
    height: 50px;
    width: 40px;
    background-color: var(--yellow-accent);
    color: var(--gray2);
    font-size: 1.25rem;
    text-decoration: none;
    border-radius: 10px;
}

.post-button-icon {
    display: flex;
    justify-self: center;
    align-items: center;
    padding: 10px;
}

.post-button-text {
    padding: 5px 5px 5px 20px;
    display: none;
}

/* Profile Information */
.account-info-wrapper {
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #303030;
}

.account-info-button {
    display: flex;
    align-items: center;
    height: 50px;
    width: 40px;
    color: white;
    font-size: 1.25rem;
    text-decoration: none;
    border-radius: 10px;
}

.account-info-text {
    font-size: 0.9rem;
    display: inline;
}

/* Navigation buttons */
.side-nav-button-wrapper {
    padding-top: 10px;
}

.side-nav-button {
    display: flex;
    align-items: center;
    height: 50px;
    width: 40px;
    color: white;
    font-size: 1.25rem;
    text-decoration: none;
    border-radius: 10px;
}

.active-button {
    background-color: var(--gray3);
}

.active-button:hover {
    background-color: var(--gray4);
}

.side-nav-button:hover {
    background-color: var(--gray3);
}

.side-nav-icon {
    display: flex;
    justify-self: center;
    align-items: center;
    padding: 10px;
}

.side-nav-text {
    padding: 5px 5px 5px 20px;
    display: none;
}

/* Main Content */  
main {
    grid-area: main;
    padding: 5px;
}

/* Login overlay */
.page-mask {
    position: fixed;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0,0,0,0.4);
}

.login-popup {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 450px;
    border-left: 1px solid var(--gray4);
    border-right: 1px solid var(--gray4);
    background-color: var(--gray1);
}

.login-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 200px;
    margin-bottom: 20px;
}

.login-close {
    background-color: var(--gray1);
    color: white;
    border: none;
    border-radius: 40px;
    transition: 0.2s;
}

.login-close:hover {
    color: var(--gray5);
}

.login-close-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    width: 75%;
    max-width: 200px;
}

.login-input {
    display: flex;
    align-items: center;
    min-width: 10px;
    width: 100%;
    border: 1px solid var(--gray4);
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 5px;
}

.login-input:focus-within {
    border: 1px solid #1c62b9;
}

.login-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 100%;
}

.login-text-box {
    background-color: var(--gray1);
    color: white;
    border: none;
    padding: 5px;
    font-size: 14px;
    min-width: 10px;
}

.login-text-box:focus {
    outline: none;
}

.submit-button {
    background-color: var(--yellow-accent);
    color: var(--gray1);
    border-radius: 10px;
    border: none;
    padding: 10px;
}

.submit-button:hover {
    background-color: var(--yellow-highlight);
}

.login-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.active {
    display: flex;
}

.inactive {
    display: none;
}