<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CS:50 Final Project: {% block title %}{% endblock title %}</title>
    <!-- Style sheet-->
    <link rel="stylesheet" href="/static/styles.css">
    <!-- Javascript for pages-->
    <script src="/static/scripts.js"></script>
    <!-- Icons -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>
    
<body>
    <!-- Nav Bar -->
    <nav class="nav-bar">
        <!-- website logo and menu slide out -->
        <div class="nav-buttons-wrapper">
            <button class="menu-button">
                <ion-icon class="menu-button-icon" name="menu-outline"></ion-icon></ion-icon>
            </button>
            <a class="logo" href="/">CS:50 Final Project</a>
        </div>
        
        <!-- Search bar -->
        <div class="search-bar-wrapper">
            <form class="search-bar" action="/search" method="get">
                <input class="search-box" type="text" autocomplete="off" name="search" placeholder="Search">
                <button class="search-button" type="submit">
                    <ion-icon class="search-icon" name="search-outline"></ion-icon>
                </button>
            </form>
        </div>

        <!-- Login Options -->
        <div class="login-options">
            {% if session["user_id"] %}
                <a class="login-options-button" href="/signout">Sign Out</a>
            {% else %}
                <a class="login-options-button" id="sign-in" href="#">Sign in</a>
                <a class="login-options-button" id="register" href="#">Register</a>
            {% endif %}
        </div>
    </nav>

    <!-- Side Menu -->
    <div class="nav-side">
        <!-- Navigation Post Button -->
        <div class="post-button-wrapper">
            <a class="post-button" id="post-button" href="/post">
                <span class="post-button-icon"><ion-icon name="add-outline"></ion-icon></span>
                <span class="post-button-text">Post</span>
            </a>
        </div>

        <!-- Profile stuff here -->
        {% if session["user_id"] %}
            <div class="account-info-wrapper">
                <a class="account-info-button" href="/user/{{ session['username'] }}">
                    <span class="side-nav-icon"><ion-icon name="person"></ion-icon></span>
                    <div class="account-info-text">
                        <span class="side-nav-text">@{{ session["username"] }}</span>
                        <span class="side-nav-text">{{ session["name"] }}</span>
                    </div>
                </a>
            </div>
        {% endif %}

        <!-- Navigation buttons -->
        <div class="side-nav-button-wrapper">
            <!-- Home Button -->
            <a class="side-nav-button {% if homeActive %} active-button {% endif %}" href="/">
                <span class="side-nav-icon"><ion-icon name="{% if homeActive %}home{% else %}home-outline{% endif %}"></ion-icon></span>
                <span class="side-nav-text">Home</span>
            </a>

            {% if session["user_id"] %}
                <!-- Profile Button -->
                <a class="side-nav-button {% if isUsersAccount %} active-button {% endif %}" href="/user/{{ session['username'] }}">
                    <span class="side-nav-icon"><ion-icon name="{% if isUsersAccount %}person{% else %}person-outline{% endif %}"></ion-icon></span>
                    <span class="side-nav-text">Profile</span>
                </a>
                <!-- Friends Button -->
                <a class="side-nav-button {% if friendsActive %}active-button{% endif %}" href="/friends">
                    <span class="side-nav-icon"><ion-icon name="{% if friendsActive %}people{% else %}people-outline{% endif %}"></ion-icon></span>
                    <span class="side-nav-text">Friends</span>
                </a>
            {% endif %}

        </div>
    </div>

    <!-- Main Content -->
    <main>
        {% block main %}{% endblock main %}    
    </main>

    <!-- Login Popup -->
    {% if not session["user_id"] %}
    <div class="page-mask inactive">
        <!-- Login -->
        <div class="login-popup sign-in-screen inactive">
            <!-- Login Heading -->
            <div class="login-heading">
                <h1>Sign In</h1>
                <button class="login-close">
                    <span class="login-close-icon"><ion-icon name="close-outline"></ion-icon></span>
                </button>
            </div>
            <!-- Login Form -->
            <form class="login-form" action="/login" method="post">
                <div class="login-input">
                    <span class="login-icon"><ion-icon name="person-outline"></ion-icon></span>
                    <input class="login-text-box" type="text" name="username" placeholder="Username" autocomplete="off">
                </div>
                <div class="login-input">
                    <span class="login-icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                    <input class="login-text-box" type="password" name="password" placeholder="Password" autocomplete="off">
                </div>
                <button class="submit-button" type="submit">Submit</button>
            </form>
            <!-- Login Footer -->
            <div class="login-footer">
                <h4>Dont have an account?</h6>
                <a class="login-switch-button register-button" href="#">Register</a>
            </div>
        </div>
        <!-- Register -->
        <div class="login-popup register-screen inactive ">
            <!-- Login Heading -->
            <div class="login-heading">
                <h1>Register</h1>
                <button class="login-close">
                    <span class="login-close-icon"><ion-icon name="close-outline"></ion-icon></span>
                </button>
            </div>
            <!-- Login Form -->
            <form class="login-form" action="/register" method="post">
                <div class="login-input">
                    <span class="login-icon"><ion-icon name="person-outline"></ion-icon></span>
                    <input class="login-text-box" type="text" name="username" placeholder="Username" autocomplete="off">
                </div>
                <div class="login-input">
                    <span class="login-icon"><ion-icon name="person-outline"></ion-icon></span>
                    <input class="login-text-box" type="text" name="name" placeholder="Name" autocomplete="off">
                </div>
                <div class="login-input">
                    <span class="login-icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                    <input class="login-text-box" type="password" name="password" placeholder="Password" autocomplete="off">
                </div>
                <div class="login-input">
                    <span class="login-icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                    <input class="login-text-box" type="password" name="confirmation" placeholder="Confirm Password" autocomplete="off">
                </div>
                <button class="submit-button" type="submit">Submit</button>
            </form>
            <!-- Login Footer -->
            <div class="login-footer">
                <h4>Already have an account?</h4>
                <a class="login-switch-button signin-button" href="#">Sign in</a>
            </div>
        </div>
    </div>
    {% endif %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <script> 
                    document.addEventListener('DOMContentLoaded', function() {
                        alert('{{message}}');
                    });
                </script> 
            {% endfor %}
        {% endif %}
    {% endwith %}

</body>
</html>