{% extends "layout.html" %}

{% block title %}
    {{ userInfo['username'] }}
{% endblock %}

{% block main %}
    <p>username: {{ userInfo['username'] }}</p>
    <p>name: {{ userInfo['name'] }}</p>
    <p>following: {{ userInfo['following_count']}}</p>
    <p>followers: {{ userInfo['follower_count'] }}</p>

    {% if userPosts %}
        {% for posts in userPosts %}
            <p>{{ posts.post }}</p>
            <p>{{ posts.date }}</p>
        {% endfor %}

    {% else %}
        <p> This user has no posts</p>
    {% endif %}

    {% if isFollowing %}
        <a href="/unfollow/{{ userInfo['username'] }}">unfollow</a>
    {% elif isFollowing == False %}
        <a href="/follow/{{ userInfo['username'] }}">Follow</a>
    {% endif %}

{% endblock main %}
