{% extends "layout.html" %}

{% block title %}
    @{{ userInfo['username'] }}
{% endblock %}

{% block main %}

    <div class="user-info-wrapper">
        <div class="user-info">
            <span class="user-name">{{ userInfo['name'] }}</span>
            <span class="user-username">@{{ userInfo['username'] }}</span>
            <div class="user-follow-wrapper">
                <span class="user-follow-number">{{ userInfo['following_count'] }}</span>
                <span class="user-follow">following</span>
                <span class="user-follow-number">{{ userInfo['follower_count'] }}</span>
                <span class="user-follow">followers</span>
            </div>
        </div>
        <div class="user-follow">
            {% if isFollowing %}
                <a class="user-follow-button" href="/unfollow/{{ userInfo['username'] }}">
                    <span class="user-follow-icon"><ion-icon name="person-remove-outline"></ion-icon></span>
                    <span>Unfollow</span>
                </a>
            {% elif isFollowing == False %}
                <a class="user-follow-button"href="/follow/{{ userInfo['username'] }}">
                    <span class="user-follow-icon"><ion-icon name="person-add-outline"></ion-icon></span>
                    <span>Follow</span>
                </a>
            {% endif %}
        </div>
    </div>

    <div class="user-posts-wrapper">
        <span class="search-titles">
            POSTS
        </span>
        {% if userPosts %}
            {% for posts in userPosts %}
                <div class="user-post">
                    <a class="user-post-info" href="/user/{{ userInfo['username'] }}">
                        <span class="user-post-name">{{ userInfo['name'] }}</span>
                        <span class="user-post-username">@{{ userInfo['username'] }}</span>
                        <span class="user-post-date">{{ posts.date }}</span>
                    </a>

                    <div class="user-post-main">
                        <span class="user-post-content">{{ posts.post }}</span>
                        
                    </div>
                </div>   
            {% endfor %}
        {% else %}
            <span class="user-post">This user has no posts</span>
        {% endif %}
    </div>
{% endblock main %}
